<div class="header row-align">
    <div class="row-align" style="align-items: center;">
        <h1 style="margin-left: 10px; font-weight: 500;">Active Sprints</h1>
        <div style="padding-left: 15px; color: black;">
            <mat-form-field appearance="outline" style="font-size: 9pt;">
                <mat-label>Sprint</mat-label>
                <mat-select [(value)]="selectedSprint" (selectionChange)="changeSprint()">
                    <mat-option *ngFor="let s of sprints" [value]="s">{{s.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div>
        <button mat-raised-button color="primary" (click)="newStory()">New Story</button>
        <span style="padding-left: 15px;"></span>
        <button mat-stroked-button color="primary" (click)="newSprint()">New Sprint</button>
    </div>
</div>

<div class="container row-align" cdkDropListGroup *ngIf="doneLoading">
    <div class="status_column column-align" cdkDropList id="open" [cdkDropListData]="openStories" (cdkDropListDropped)="drop($event)">
        <h3 style="color: #0F9D58">Open</h3>
        <story-comp *ngFor="let s of openStories" size="kanban" [story]="s" style="width: 100%;"></story-comp>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="status_column column-align" cdkDropList id="in_progress" [cdkDropListData]="inProgressStories" (cdkDropListDropped)="drop($event)">
        <h3 style="color: #F4B400">In Progress</h3>
        <story-comp *ngFor="let s of inProgressStories" size="kanban" [story]="s" style="width: 100%;"></story-comp>

    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="status_column column-align" cdkDropList id="test_ready" [cdkDropListData]="readyForTestStories" (cdkDropListDropped)="drop($event)">
        <h3 style="color: #4285F4">Ready for Testing</h3>
        <story-comp *ngFor="let s of readyForTestStories" size="kanban" [story]="s" style="width: 100%;"></story-comp>

    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="status_column column-align" cdkDropList id="completed" [cdkDropListData]="completedStories" (cdkDropListDropped)="drop($event)">
        <h3 style="color: #525252">Completed</h3>
        <story-comp *ngFor="let s of completedStories" size="kanban" [story]="s" style="width: 100%;"></story-comp>

    </div>
    <mat-divider [vertical]="true"></mat-divider>
</div>