.info-container {
    padding-bottom: 15px;
    min-width: 300px;
    .index {
        padding: 10px 0;
        .key {
            font-size: 8pt;
            color: #9e9e9e;
        }
    }
    .action-buttons {
        padding: 10px 0;
        .button {
            width: 170px;
            margin-top: 10px;
        }
    }
}
.feedbacks {
    overflow-y: auto;
    max-height: 80%;
    flex-grow: 1;
}
