<div class="container column-align">
    <h2 class="mat-title">New Employee</h2>
    <input type="file" class="file-input" accept="image/*" maxFileSize="50000" (change)="onFileSelected($event)" #fileUpload>
    <div class="file-upload" style="align-self: center;">
        <img width="120" [src]="url" (click)="fileUpload.click()" style="cursor: pointer;">
    </div>
    <form class="column-align" style="margin-top: 25px; padding-bottom: 10px;" [formGroup]="addEmployeeForm" (ngSubmit)="addEmployee()">
        <mat-form-field appearance="outline">
            <mat-label>Employee Name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Department</mat-label>
            <input matInput formControlName="department">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Role</mat-label>
            <input matInput formControlName="role">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Level</mat-label>
            <input matInput formControlName="level">
        </mat-form-field>


        <button mat-raised-button color="primary" [disabled]="!isValid">Add Employee</button>        
    </form>
    <button mat-raised-button color="primary" (click)="cancel()">Cancel</button>
</div>