<div>
    <h2>Create New Sprint</h2>
    <form class="column-align" style="margin-top: 25px;" [formGroup]="addSprintForm" (ngSubmit)="addSprint()">
        <mat-form-field appearance="outline">
            <mat-label>Sprint Name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input matStartDate formControlName="start" placeholder="Start date">
                <input matEndDate formControlName="end" placeholder="End date">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="!isValid">Add Sprint</button>
    </form>
</div>