.header {
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
}
.priority {
	border-radius: 4px;
	color: white;
	height: 20px;
	width: 20px;
}
.mat-column-priority {
	width: 50px;
}
.mat-column-title {
	width: 250px;
}
